body {
    
    background-color:#4C9DDC;
}

.li-title{
    font-size:12px;
    color:silver;
}
a{
    font-size:12px;
    color:silver;
}
.english{
    font-family: Cambria;
}
.logo-text{
    font-family: Cambria;
    font-size: 16px;
    color:white;
}
.logo-text:hover {
    text-decoration: none;
    color:white;
    font-weight: bold;
}