@media (max-width: 768px) {
    .navbar-collapse {
        position: absolute;
        top: 54px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
    }
    .navbar-collapse.collapsing {
        height: auto;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        transition: left 0.3s ease;
        left: -100%;
    }
    .navbar-collapse.show {
        left: 0;
        -webkit-transition: left 0.3s ease-in;
        -o-transition: left 0.3s ease-in;
        -moz-transition: left 0.3s ease-in;
        transition: left 0.3s ease-in;
    }
    
}
.english{
    font-family: Cambria;
}

.w{
    color:white;  
}
.b{
    color:black;
}
@media (max-width: 768px) {
body{
    background-image: url('img/a.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
}
 @media (min-width:1300px) {
    body{
        background-image: url('img/c.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    } 
.travel {
    font-family: Cambria;
    font-size: 20px;
    color:white;
    text-decoration: none;
}
.s{
    display:block;
    max-height: 250px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.ss{
    display:block;
    max-height: 650px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.link{
    color:white;
    text-decoration: none;
}
    
